.emoji {
  font-style: normal; }
  .emoji.emoji-broken-heart:after {
    content: '\1f494'; }
  .emoji.emoji-rocket:after {
    content: '\1f680'; }
  .emoji.emoji-lock:after {
    content: '\1f512'; }
  .emoji.emoji-juggling:after {
    content: '\1f939'; }
  .emoji.emoji-penguin:after {
    content: '\1f427'; }
  .emoji.emoji-red-heart:after {
    content: '\2764'; }
  .emoji.emoji-smiling-face-horns:after {
    content: '\1f608'; }
  .emoji.emoji-baby-angel:after {
    content: '\1f47c'; }
  .emoji.emoji-smiling-face-halo:after {
    content: '\1f607'; }
