@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin fontSize($size) {
  font-size: $size !important; //Fallback in px
  font-size: calculateRem($size) !important;
}
