@import 'defaults';
@import 'mixins';

.logo {
	width: 70vh;
}

.senai-logo {
	width: 10vw;
	padding: 8px;
	z-index: 10;
	position: relative;
}

.brand-logo {
	max-width: 60vh;
}

.fit-image {
	max-width: 80vh;
}

.big-title {
	@include fontSize(100px);
}

.hljs {
	@include fontSize(100px);
}

.apresentacao {
	>.nome {
		font-family: 'Montserrat';
		@include fontSize(40px);
		padding-top: 10px;
		margin-bottom: initial;
	}
	>.foto {
		max-width: 150px;
		border-radius: 50%;
	}
	>.social-media {
		list-style-type: none;
		display: block;
		>.item {
			display: inline-block;
			width: 50px;
			padding: 5px;
			.icon {
				width: 50px;
			}
		}
	}
}

.lista-features {
	>.item {
		padding: 10px;
	}
	&.list-dash {
		>.item {
			&:before {
				content: '-';
			}
		}
	}
}

.medium-text {
  @include fontSize(52px);
	font-weight: normal;
}

.medium-code {
	@include fontSize(60px);
}

.highlight-red {
	color: #ff2c2d;
}
